@font-face {
    font-family: 'Open Sauce One';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sauce One'), url('./18f2965ca3c7aca5.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce One';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sauce One'), url('./5868656f61059cd6.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce One';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sauce One'), url('./652a715c50a8a4c6.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce One';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sauce One'), url('./fc597659c28bac32.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce One';
    font-style: normal;
    font-weight: 500;
    src: local('Open Sauce One'), url('./cddda6c3b6c9f876.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce One';
    font-style: italic;
    font-weight: 500;
    src: local('Open Sauce One'), url('./9b716f9a67568c6b.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce One';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sauce One'), url('./79ea2089d58b097d.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce One';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sauce One'), url('./e88820a178a47fcd.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce One';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sauce One'), url('./8c99844a474b6b56.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce One';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sauce One'), url('./fe6be1e3bae3a2a6.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce One';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sauce One'), url('./71ccbfdee2f5a4f8.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce One';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sauce One'), url('./ab60517f4775d455.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce One';
    font-style: normal;
    font-weight: 900;
    src: local('Open Sauce One'), url('./9a04a0408712c105.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce One';
    font-style: italic;
    font-weight: 900;
    src: local('Open Sauce One'), url('./7103fea3db4e1a29.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Two';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sauce Two'), url('./772ace90e8fffa6e.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sauce Sans'), url('./24c0def29fb90d3b.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Two';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sauce Two'), url('./507585a115ea08b1.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sauce Sans'), url('./7546ac1e959e9c09.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Two';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sauce Two'), url('./9b885be528267ce0.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sauce Sans'), url('./dd305a97cdefe5ea.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Two';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sauce Two'), url('./97c2f68c7fe07f44.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sauce Sans'), url('./0959d7701ed3f628.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Two';
    font-style: normal;
    font-weight: 500;
    src: local('Open Sauce Two'), url('./32a84dbb1cf4e19b.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Open Sauce Sans'), url('./f7c0bdb854a064ac.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Two';
    font-style: italic;
    font-weight: 500;
    src: local('Open Sauce Two'), url('./50cd754798638a25.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Sans';
    font-style: italic;
    font-weight: 500;
    src: local('Open Sauce Sans'), url('./01de8243d7a545a3.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Two';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sauce Two'), url('./d47b3674cf0b90b7.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sauce Sans'), url('./92264a4f2001e812.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Two';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sauce Two'), url('./260ab1f6d339444b.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sauce Sans'), url('./6619b984afa456d5.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sauce Sans'), url('./20631f2e877b22c3.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Two';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sauce Two'), url('./dbd4753b457221ac.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sauce Sans'), url('./f37f3ae078367239.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Two';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sauce Two'), url('./d878254a309f5f08.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Two';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sauce Two'), url('./c6a4190e18f86187.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sauce Sans'), url('./08b379f8aef04955.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Two';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sauce Two'), url('./bf83517e3c91975a.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sauce Sans'), url('./45b6cfbdb9fb1558.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Open Sauce Sans'), url('./e4af0c0847375ebe.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Two';
    font-style: normal;
    font-weight: 900;
    src: local('Open Sauce Two'), url('./ccfe35dd7d68c607.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Sans';
    font-style: italic;
    font-weight: 900;
    src: local('Open Sauce Sans'), url('./282ad3a0b740f100.woff') format('woff');
}
@font-face {
    font-family: 'Open Sauce Two';
    font-style: italic;
    font-weight: 900;
    src: local('Open Sauce Two'), url('./4e9d3b39246e499d.woff') format('woff');
}


